:root {
    --bg: rgb(39, 39, 63);
    --text: #cccccc;
    --subtle: #cccccc;
    --card-bg: rgb(81, 81, 112);
    --link: #f9f3f9;
    --header: #2eb7c4;
    --accent: #ffc857;
    --active: #ffc857;
    --structure: rgb(39, 39, 63);
    ;
    --fa-primary-color: #cf3acd;
    --fa-secondary-color: #ffc857;
    --fa-secondary-opacity: 1;
}

.swap {
    --fa-primary-color: #ffc857;
    --fa-secondary-color: #cf3acd;
}

i.fab {
    color: var(--fa-secondary-color);
}

.black {
    color: #666666 !important;
}

.red {
    color: rgb(255, 0, 0) !important;
}

i.swap {
    color: var(--fa-secondary-color);
}

html {
    background-color: var(--bg);
    padding: 1rem;
}

html>body {
    color: var(--text);
}

h1 {
    color: var(--accent);
    font-size: 175%;
    margin-bottom: 1rem;
}

h2 {
    color: var(--header);
    font-size: 135%;
    margin-bottom: 0.25em;
}

section {
    margin-bottom: 2rem;
}

ul li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

a {
    color: var(--link);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0.05rem 0.05rem #0a0a0a;
}

li i {
    margin-right: 0.5rem;
}

a:visited {
    color: var(--link);
}

a:hover {
    color: var(--active);
}

.accent {
    color: var(--accent);
    font-size: 120%;
    font-weight: 650;
}

.card {
    background-color: var(--card-bg);
    color: var(--text);
}

.card .card-header-title {
    color: var(--header);
    text-shadow: 0.05rem 0.05rem #0a0a0a;
}

.card-content {
    padding-top: 1rem;
}

.card-content small:first-child {
    display: block;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--structure);
    margin-bottom: 1rem;
}

main>header {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--accent);
}

footer {
    margin-top: 1rem;
    border-top: 1px solid var(--accent);
    padding-top: 1rem;
    color: var(--subtle);
    text-align: center;
    font-size: 80%;
}

.content-list {
    gap: 1rem;
    align-items: stretch;
    justify-content: center;
    justify-items: stretch;
}

.content-list>.card {
    min-width: 500px;
    max-width: 600px;
    flex-grow: 1;
    flex-shrink: 1;
}

.card li small {
    font-size: 0.75rem;
    color: var(--subtle);
}